*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Poppins;
  text-decoration:none;
}

.svg-div {
  flex-direction: flex;
  flex-wrap: wrap;
}

.svg-div img{
  width: 5rem;
  height: auto;
  padding: 2rem;
}