*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Poppins;
  text-decoration:none;
}
svg{
  margin: 0;
  padding: 0;
}

.svg-div {
  flex-direction: flex;
  flex-wrap: wrap;
}

.svg-div img{
  width: 5rem;
  height: auto;
  padding: 2rem;
}

.cred > a {
  border-radius: 3rem;
  padding: .5rem 1rem;
  background-color: rgb(255, 251, 0);
}
.cred > a :hover{
  background-color: rgba(0,0,0,0.4);
}

.cursors .ball {
  width: 2rem;
  height: 2rem;
  background-color: rgb(255, 251, 0);
  border-radius: 50%;
  position: absolute;
  opacity: 10%;
  z-index: 1000;
  pointer-events: none;
  transform: translate(-50% -50%);
}
.intro{
  margin-top: 3rem;
}

.intro2{
  margin-bottom: 1.5rem;
}

.intro3, .intro4, .typing > h4{
  display: inline-flex;
  margin-bottom: 1rem;
  font-size: 2rem;
  padding-right: .8rem;
}
.typing > h4 {
  color:rgb(255, 217, 0)
}

.misc * :hover{ 
  fill:rgb(255, 217, 0);
}
.cred >a:hover, .cred >a:active{
  background-color: rgb(0, 0, 0);
  color:rgb(255, 217, 0)
}
.typing{
  display:inline-flex;
}

@media only screen and (min-width: 901px){
  .intro, .intro2{
    font-size: 4rem;
  }
  .content{
    margin-left: 7rem;
    margin-top: 2rem;
  }
  .misc *{ 
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 1.5rem;
    width: 1.5rem;
  }
  .typing{
    font-size: 4rem;
  }
  .cred :nth-child(1){
    margin-right: 1.5rem;
  }

}
@media only screen and (min-width: 633px) and (max-width: 900px){
  .content{
    margin-left: 6.5rem;
  }
  .intro, .intro2 {
    font-size: 2.8rem
  }
  .misc * {
    margin-right:1rem;
    margin-bottom:2rem;
    margin-top: 1rem;
    height: 1.5rem;
    width: 1.5rem;
  }
  .misc a{
    padding: 0.25rem;
    width: 1rem;
    height: 1rem;
  }

  .cred >a{
    margin-right: 1.5rem;
  }
}


@media only screen and (max-width: 632px) and (min-width: 479px) {
  .intro, .intro2 {
    display:flex;
    justify-content: center;
    font-size: 2.8rem;
  }
  .misc{
    display: flex;
    justify-content: center;
  }
  .misc * {
    height: 1.5rem;
    width: 1.5rem;
  }
  .misc a{
    margin:1rem;
    padding: .25rem;
    width: 1rem;
    height: auto;
  }
  .typing{
    display: flex;
    justify-content:center;
    font-size: 2rem;
  }
  .cred{
    display: flex;
    justify-content :center;
  }
  .cred > a{
    display: block;
    margin: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .typing p, .typing h4 {
    font-size: 1.5rem;
  }
  .misc * {
    height: 1.5rem;
    width: 1.5rem;
  }
  .misc a{
    margin:1rem;
    padding: .25rem;
    width: 1rem;
    height: auto;
  }
  .cred, .typing, .intro, .intro2, .misc{
    display: flex;
    justify-content :center;
  }
  .cred > a{
    margin: .75em;
  }
}
.intro, .intro2, .intro3, .intro4 {
  border: 1rem;
}

.Nav, .modalNav, .mobileNav{
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color:rgb(255, 238, 0);
  color: block;
}
.modalNav{
  flex-direction: column;
}

a{
  text-decoration: none;
}
a:link {
  color: rgb(0, 0, 0);
}
a:visited {
  color: rgb(0, 0, 0);
}







ul{
  display:inline-flex;
}

.Nav a, .mobile-nav-menu, .modal-content a{
  padding: 1rem;
}
.nav-home, .mobile-nav-home, .modal-home{
  font-weight: 600;
}

.mobile-nav-home{
  padding: 1rem;
}

.modal-trio{
  color:block;
}

.nav-quad{
  display: flex;
  justify-content: space-between;
}



/* MODAL */
/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
