*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Poppins;
  text-decoration:none;
}

.svg-div {
  flex-direction: flex;
  flex-wrap: wrap;
}

.svg-div img{
  width: 5rem;
  height: auto;
  padding: 2rem;
}

.cred > a {
  border-radius: 3rem;
  padding: 1rem;
  background-color: rgb(255, 251, 0);
}


.cursor {
  top: 300px;
  left: 300px;
  width: 2rem;
  height: 2rem;
  border: 2px solid rgb(255, 251, 0);
  background-color: rgb(255, 251, 0);
  border-radius: 50%;
  position: absolute;
  opacity: 25%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.intro{
  margin-top: 3rem;
}

.intro2{
  margin-bottom: 1.5rem;
}

.intro3, .intro4{
  display: inline-flex;
}

.typing{
  display:inline-flex;
}
@media only screen and (min-width: 501px) {
  .content{
    margin-left: 6.5rem;
  }
  .misc *{ 
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .cred *{
    margin-right: 1.5rem;
  }
}


@media only screen and (max-width: 500px) {
  .intro, .intro2 {
    display:flex;
    justify-content: center;
  }
  .misc{
    display: flex;
    justify-content: center;
  }
  .misc a{
    padding: .5rem;
    width: 1rem;
    height: auto;
  }
  .typing{
    display: inline-block;
    align-content: center;
  }
  .cred{
    display: flex;
    justify-content :center;
  }
}

@media only screen and (max-width: 380px) {
  .cv, .linkedin{
    display:block;
    justify-content: center;
  }
}
.intro, .intro2, .intro3, .intro4 {
  border: 1rem;
}

.misc>{
  margin: 1rem;
}

.Nav, .modalNav, .mobileNav{
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color:rgb(255, 238, 0);
  color: block;
}
.modalNav{
  flex-direction: column;
}

a{
  text-decoration: none;
}
a:link {
  color: rgb(0, 0, 0);
}
a:visited {
  color: rgb(0, 0, 0);
}

.id-border{
  border-color: #aaa;
}





ul{
  display:inline-flex;
}

.Nav a, .mobile-nav-menu, .modal-content a{
  padding: 1rem;
}
.nav-home, .mobile-nav-home, .modal-home{
  font-weight: 600;
}

.mobile-nav-home{
  padding: 1rem;
}

.modal-trio{
  color:block;
}

.nav-quad{
  display: flex;
  justify-content: space-between;
}



/* MODAL */
/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
